#app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100vh;
}
.large-centered{
  margin: 0 auto;
  float: none;
}
.todo-list{
  display: flex;
  flex-direction: column;

  li{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    p:first-of-type{
      flex: 1 0 80%;
      margin: 0;
      font-size: 16px;
      color: black;
    }

    p{
      font-size: 13px;
      color: grey;
      margin-left: 30px;
    }

    input {
      margin: 0 15px 0 0;
    }
  }
}